/* estilos del header  */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #FFF5DA;
}

header {
    background-color: #D6D2C4;
}

main {
    width: 100%;
    margin: 0 auto;
    /* background-color: white; */
}

p {
    font-size: 12px;
}

h2 {
    text-align: center;
    font-size: 24px;
    color: #222222;
    padding: 15px;
}

/* Contenido flex del header */

.main-header-users {
    position: sticky;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

.main-header-bar-users {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px;
}   

.logo-users {
    width: 10.7rem;
    height: 3.5rem
}

.button-bars-users {
    background-color: #5D534A;
    color: #F7DAD9;
    padding: 8px;
    border-radius: 5px;
    font-weight: 600;
    margin-left: 20px;

}


/* Header hasta acá */
/* Main */

.container-signin {
    width: 100%;
    padding: 20px;
    background-color: #FFF5DA;
    margin: auto;
}

.control-signin {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border:none;
    border-bottom: 0.5px solid #000;
    background: #FFF5DA;
    width: 100%;
    margin-bottom: 10px;
    outline: none;
}

/* .control-signin:focus{
    outline: solid #5D534A 2px;
} */

.account-signin{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding:5px;
}

.button-signin{
    background: #5D534A;
    border: none;
    border-radius: 5%;
    color:#fff;
    padding:10px
}

.form-signin {
    margin:30px;
}

/* Main */

/* Footer */

footer {
    background-color: #D6D2C4;
    height: auto;
    padding: 5px;
}

footer i {
    font-size: 2em;
    color: #5D534A;
}

.footer-titles-users {
    font-weight: bold;
    font-size: 15px;
    margin: 10px 0 10px 0;
}

.contenedor-footer-users {
    text-align: center;
}

.copyright-users {
    text-align: left;
    font-weight: 900;
    color: #5D534A;
}

    /* Contenido de listas para el footer */
.listas-users {
    list-style: none;
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
 
}

.listas-atributo-users li a {
    text-decoration: none;
    color: #5D534A;
    font-weight: 500;
    transition: all 300ms ease;
    display: flex;
    align-items: center;
    margin: 15px;

}

.listas-atributo-users li a:hover {
    color: #222222;
}

.lista-end-users a i {
    color: #5D534A;
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    width: 40px;
    height: 40px;
    line-height: 45px;
    margin-right: 10px;
    background-color: #F7DAD9;
    text-align: center;
    transition: all 300ms ease;
}

.lista-end-users i:hover {
    color: #222222;
}

/* Footer */
@media (min-width: 768px){
    .container-signin {
        width: 50%;
        padding: 20px;
        background-color: #FFF5DA;
        margin: auto;
    }
}

