@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #FFF5DA;
    border: solid 5px #F7DAD9;
}

header {
    background-color: #D6D2C4;
}

main {
    width: 100%;
    margin: 0 auto;
    /* background-color: white; */
}

p {
    font-size: 12px;
}

h2 {
    text-align: center;
    font-size: 24px;
    color: #222222;
    padding: 15px;
}


/* Header páginas */
    /* Tus estilos aquí */
/* Fin header */


/* Footer páginas */
    /* Tus estilos aquí */
/* Fin header */


/* Main página HOME */

/* Fin Main */


/* Main página CARRITO */

/* Fin Main */


/* Main página DETALLE-PRODUCTO */

/* Fin Main */


/* Main página LOGIN */

/* Fin Main */


/* Main página SIGNIN */

/* Fin Main */