<footer class="contenedor-footer">
    <nav class="footer-bottom">
        <ul class="listas">
        
                <div class="listas-atributo">
                    <i class="fa-solid fa-shirt"></i>
                    <h5>PRODUCTOS</h5>
                    <li><a href="#">Remeras / Chombas</a></li>
                    <li><a href="#">Buzos / Camperas</a></li>
                    <li><a href="#">Pantalones</a></li>
                    <li><a href="#">Short</a></li>
                    <li><a href="#">Vestidos</a></li>
                    <li><a href="#">Accesorios</a></li>
                </div>

                <div class="listas-atributo">
                    <i class="fa-solid fa-credit-card"></i>
                    <h5>ASISTENCIA</h5>
                    <li><a href="#">Pagos</a></li>
                    <li><a href="#">Envios</a></li>
                    <li><a href="#">Devoluciones</a></li>
                    <li><a href="#">Dudas Frecuentes</a></li>
                </div>
            
            
                <div class="listas-atributo">
                    <i class="fa-solid fa-users"></i>
                    <h5>NOSOTROS</h5>
                    <li><a href="#">Acerca de Revival Clothing</a></li>
                    <li><a href="#">Nuestra Tienda</a></li>
                </div>

                <div class="lista-end">
                    <i class="fa-solid fa-hashtag"></i>
                    <h5>SEGUINOS</h5>
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
                </div>
            
        </ul>
    </nav>
    <article>
        <p class="copyright">Copyright © 2021 - 2023 Revival Clothes R.C.S.A</p>
    </article>
</footer>