<div class="main-header-bar">
    <div class="left-navbar">
        <a href="#" class="button-bars"><i class="fa-solid fa-bars"></i></a>
        <a href="/" class="a-header"><img src="/images/logoPNGcoloresHorizontal.png" alt="" class="logo"></a>

    </div>
    <!-- Acá usar el objeto user :DDDDD -->
    <nav class="main-navbar-desktop">
        <ul>
            <li><a href="../user/login"><i class="fa-solid fa-user"></i> Ingresa</a></li>
            <li><a href="../user/signin"> <i class="fa-regular fa-address-card"></i> logueate</a></li>
            <li><a href="../products/carrito-de-compras"><i class="fa-solid fa-cart-shopping"></i> Carrito</a></li>
            <li><a href="../user/<%= user.id %>/detalle"><img src="/images/fotosUsuario/<%= user.imagen %>" alt=""></a>
            </li>
            <!-- <li><a href="../user/<%# userDetail.id %>/edit"><i class="fa-solid fa-cart-shopping"></i> Carrito</a></li> -->
        </ul>
    </nav>
    <!-- <div class="rigth-navbar">
        <div class="searchbar">
            <input type="text">
            <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
        </div>

    </div> -->
</div>