<div class="main-header-bar-users">
    <img src="./images/logoPNGcoloresHorizontal.png" alt="Mercado Liebre" class="logo-users">
    <a href="#" class="button-bars-users"><i class="fa-solid fa-bars"></i></a>
</div>