<nav class="main-header-bar">
    <div class="left-navbar">
        <a href="#" class="button-bars"><i class="fa-solid fa-bars"></i></a>
        <a href="/" class="a-header"><img src="/images/logoPNGcoloresHorizontal.png" alt="" class="logo"></a>
    </div>

    <div class="center-navbar">
        <ul>
            <li><a href="">Hombre</a></li>
            <li><a href="">Mujer</a></li>
            <li><a href="">Catálogo completo</a></li>
        </ul>
    </div>

    <div class="main-navbar-desktop">
        <ul>
            <% if (!user.image) { %>
                <p class="pe-home">
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample" id="user-home">
                      <img src="/images/user.svg" alt="">
                    </button>
                  </p>
                  <div style="min-height: 0px;">
                    <div class="collapse collapse-horizontal" id="collapseWidthExample">
                      <div class="card card-body" style="width: auto; background-color: transparent;" id="card-header">
                        <li><a href="../user/login" class="elements-header">Ingresa</a></li>
                        <li><a href="../user/signin" class="elements-header">logueate</a></li>
                      </div>
                    </div>
                  </div>
            <% } %>
            <li><a href="#"><img src="/images/heart.svg" class="handbag"></a></li>
            <li><a href="../products/carrito-de-compras"><img src="/images/handbag.svg" class="handbag"></a></li>
            <% if (user.id) { %>
                <li><a href="../user/<%= user.id %>/detalle"><img src="/images/fotosUsuario/<%= user.image %>" class="user-image"></a>
                </li>
            <% } %>
        </ul>
    </div>
</nav>