<nav class="main-header-bar">
	<div class="left-navbar">
		<a href="#" class="button-bars"></a>

		<i class="fa-solid fa-bars burger-button-header"></i>
		<div id="menu-toggle"></div>
		<div id="burgermenu">
			<ul>
				<li><a href="/">Inicio</a></li>
				<% if (!user.id) { %>
					<li><a href="../user/login">Ingresa</a></li>
					<li><a href="../user/signin">Regístrate</a></li>
					
					<% } %>
					<% if (user.id) { %>
						<li><a href="">Favoritos</a></li>
					<% } %>
					<li><a href="/products/productlist">Catálogo</a></li>
			</ul>
			<img src="/images/cancel.svg" class="close-menu">
		</div>

		<a href="/" class="a-header"><img src="/images/logoPNGcoloresHorizontal.png" alt="" class="logo"></a>
	</div>

	<div class="center-navbar">
		<ul>
			<li><a href="">Hombre</a></li>
			<li><a href="">Mujer</a></li>
			<li><a href="/products/productlist">Catálogo completo</a></li>
		</ul>
	</div>

	<div class="main-navbar-desktop">
		<ul>
			<% if (!user.image) { %>
				<p class="pe-home">
					<button class="btn btn-primary" type="button" data-bs-toggle="collapse"
						data-bs-target="#collapseWidthExample" aria-expanded="false"
						aria-controls="collapseWidthExample" id="user-home">
						<img src="/images/user.svg" alt="">
					</button>
				</p>
				<div style="min-height: 73px;">
					<div class="collapse collapse-horizontal" id="collapseWidthExample">
						<div class="card card-body" style="width: auto; background-color: #f5f9ff; border: none;"
							id="card-header">
							<li><a href="../user/login" class="elements-header">Ingresa</a></li>
							<li><a href="../user/signin" class="elements-header">logueate</a></li>
						</div>
					</div>
				</div>
				<% } %>

					<li><a href="#"><img src="/images/heart.svg" class="handbag"></a></li>

					<li><img src="/images/handbag.svg" class="handbag" id="carrito">
					</li>

					<div class="cart" id="cart_open">
						<h2 class="cart-title" id="cart-title">Tu carrito de compras</h2>
						<div class="cart-content" id="cart-content">

						</div>
						<div class="total">
							<h3 class="total-title">Total</h3>
							<div class="total-price">$0</div>
						</div>
						<a href="<%= user.idCart ? `/cart/${user.idCart}/detail` : '/user/login' %>" class="btn-buy">Continuar compra</a>

						<img src="/images/cancel.svg" class="close-cart" id="close-cart">
					</div>

					<% if (user.id) { %>
						<li><a href="../user/<%= user.id %>/detalle"><img src="/images/fotosUsuario/<%= user.image %>"
									class="user-image"></a>
						</li>
						<% } %>
		</ul>
	</div>
</nav>

<script src="/js/app.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>