<div class="main-header-bar">
    <div class="left-navbar">
        <a href="#" class="button-bars"><i class="fa-solid fa-bars"></i></a>
        <img src="./images/logoPNGcoloresHorizontal.png" alt="" class="logo">
    </div>
    <div class="rigth-navbar">
        <div class="searchbar">
            <input type="text">
            <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
            
        </div>
        <nav class="main-navbar">
            <ul>
                <li><a href="#"><i class="fa-solid fa-user"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
    </div>
</div>

