<div class="main-header-bar">
    <div class="left-navbar">
        <a href="#" class="button-bars"><i class="fa-solid fa-bars"></i></a>
        <a href="/"><img src="/images/logoPNGcoloresHorizontal.png" alt="" class="logo"></a>
        
    </div>
    <div class="center-navbar">
        <h2 class="titulo-navbar">¡Revive tus prendas!</h2>
    </div>
    <div class="rigth-navbar">
        <div class="searchbar">
            <input type="text">
            <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
            
        </div>
        <nav class="main-navbar">
            <ul>
                <li><a href="#"><i class="fa-solid fa-user"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
    </div>
</div>
<div class="navbar-desktop">
    <nav class="main-navbar-desktop-left">
        <ul>
            <li><a href="#"><i class="fa-regular fa-paper-plane"></i> Ofertas</a></li>
            <li><a href="#"><i class="fa-regular fa-money-bill-1"></i> Vender</a></li>
            <li><a href="#"><i class="fa-solid fa-circle-question"></i> Ayuda</a></li>
        </ul>
    </nav>
    <nav class="main-navbar-desktop">
        <ul>
            <li><a href="../user/login"><i class="fa-solid fa-user"></i> Ingresa</a></li>
            <li><a href="../user/signin"> <i class="fa-regular fa-address-card"></i> logueate</a></li>
            <li><a href="../products/carrito-de-compras"><i class="fa-solid fa-cart-shopping"></i> Carrito</a></li>
        </ul>
    </nav>
</div>

