<footer>
    <ul class="listas">

        <article class="listas-atributo">
            <i class="fa-solid fa-shirt"></i>
            <h5>PRODUCTOS</h5>
            <li><a href="#">Deportiva</a></li>
            <li><a href="#">Sombrero</a></li>
            <li><a href="#">Marca</a></li>
            <li><a href="#">Adulto</a></li>
            <li><a href="#">Niño</a></li>
        </article>

        <article class="listas-atributo">
            <i class="fa-solid fa-credit-card"></i>
            <h5>ASISTENCIA</h5>
            <li><a href="#">Pagos</a></li>
            <li><a href="#">Envios</a></li>
            <li><a href="#">Devoluciones</a></li>
            <li><a href="#">Dudas Frecuentes</a></li>
        </article>

        <article class="listas-atributo">
            <i class="fa-solid fa-users"></i>
            <h5>NOSOTROS</h5>
            <li><a href="#">Nuestra Tienda</a></li>
            <li><a href="#">Acerca de Revival Clothing</a></li>
        </article>

        <article class="listas-atributo">
            <i class="fa-solid fa-hashtag"></i>
            <h5>SEGUINOS</h5>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
        </article>

    </ul>

    <article>
        <p class="copyright">Copyright © 2021 - 2023 Revival Clothes R.C.S.A</p>
    </article>
</footer>