<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="/public/css/stylesProducto.css">
    
    <title>PRODUCTO</title>
    <script src="https://kit.fontawesome.com/5696338243.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
       <img src="/public/images/logoPNGcoloresHorizontal.png" alt="" class="logoEnHeader">
      
       <span>2th Hand</span>
       <span>Marcas</span>
       <span>Ofertas</span>
       <input type="search" class= "barraDeBusqueda">

    </header>
    <h2>Campera De Gamuza</h2>

    <img src="/public/images/capera usada frente.webp" alt="" class="camperaFrente">
    <img src="/public/images/campera usada detras.webp" alt="" class="camperaDetras">
    <div>Linda capera de gamuza, sin detalles, 4 años de uso.</div>
    <div>La vendo por que engorde y es mentira que voy a empezar el gym.</div>
    
</body>
</html>