<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/home.css">
    <title>REVIVAL CLOTHING</title>
</head>

<body>
    <header class="main-header">
        <div class="main-header-bar">
            <a href="#" class="button-bars"><i class="fa-solid fa-bars"></i></a>
            <img src="./images/logoPNGcoloresHorizontal.png" alt="Mercado Liebre" class="logo">
            <div class="searchbar">
                <input type="text">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>

        <nav class="main-navbar">
            <ul class="rigth-navbar">
                <li><a href="#"><i class="fa-solid fa-user"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>

    </header>
    <img src="images/baner.jpg" alt="home-baner" class="imagen-header">

    <main>
        <h2>Marcas</h2>
        <section class="contenedor-section">
            <article class="contenedor-article">
                <img src="images/clothe1.jpg">
                <div class="contenedor-descripcion">
                    <p class="logo-eco"><img src="images/hanger-line.png"></i></p> <!-- animacion con logo de envio -->
                    <p class="precio">$230.500</p>
                    <h4 class="descripcion">Camisa Asthetic</h4>
                </div>
            </article>
        </section>


    </main>

    <footer>

    </footer>
</body>

</html>