<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/login.css">
    <title>Login-RevivalClothes</title>
</head>

<body>
  
    <h1 class="welcome">Bienvenido a Revival Clothing</h1>
    <form action="/views/home.html" method="post">
        <h2 class="sesion">Inicia Sesión</h2>
        <label for="usuario">Usuario:</label>
        <input type="text" placeholder="Correo electronico*" name="Usuario">

        <br>

        <label for="password">Ingresá tu clave :</label>
        <input type="password" placeholder="Contraseña" name="password">

        <br>
        <button type="submit">Enviar</button>
        <button type="reset">Borrar</button>
        <br>
        <h3 class="forget">¿No recordás tu clave?</h3>


        <footer>
            <h5>PRODUCTOS</h5>
            <h5>ASISTENCIA</h5>
            <h5>NOSOTROS</h5>
            <h5>SEGUINOS</h5>
            <h6>Copyright © 2023 Revival Clothing S.R.L.</h6>
        </footer>
</body>

</html>