@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #FFF5DA;
}
header {
    background-color: #D6D2C4;
}

main {
    width: 100%;
    margin: 0 auto;
    /* background-color: white; */
}
p {
    font-size: 12px;
}

h2 {
    text-align: center;
    font-size: 24px;
    color: #222222;
    padding: 15px;
}


/* header */


.main-header-users {
    position: sticky;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

.main-header-bar-users {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}   

.logo-users {
    width: 10.7rem;
    height: 3.5rem
}

.button-bars-users {
    background-color: #5D534A;
    color: #F7DAD9;
    padding: 8px;
    border-radius: 5px;
    font-weight: 600;
}


/* main */ 

.contenedor-articulo-carrito{
    width: 100%;
    margin-top: 40px;
}

.imagen-producto-carrito{
    width: 160px;
    height: 200px;
}
.contenedor-articulo-carrito-top{
    display: flex;
}
.contenedor-articulo-carrito-bottom{
    display: flex;
    
}
.descripcion-producto-carrito{
    margin-left: 5%;
}
.btn-edit{
    background-color: #D6D2C4;
    border: 10px;
    padding:15px 32px;
    width: 50vw;
    color: #5D534A;
}
.btn-remove{
    background-color: #D6D2C4;
    border: 12px;
    padding:15px 32px;
    width: 50vw;
    color: #5D534A;
}

/* footer */

footer {
    background-color: #D6D2C4;
    height: auto;
    padding: 5px;
}

footer i {
    font-size: 2em;
    color: #5D534A;
}

footer div{
    text-align: center;
}
.listas-atributo{
    list-style: none;
    margin: 10px;;
}
.lista-end{
    list-style: none;
    margin: 10px;; 
}
.listas-atributo a{
    text-decoration: none;
    color: #5D534A;
    font-weight: 900;
}

.listas{
    display: flex;
    flex-direction: column;
}
.listas-device1{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.listas-device2{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


/* media queries */

@media(min-width:360px){
    .listas{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .listas-device1, .listas-device2{
        justify-content: space-evenly;
    }
};

@media(min-width: 768px){
    /* Laptop */
};