@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #FFF5DA;
    border: solid 5px #F7DAD9;
}

header {
    background-color: #D6D2C4;
}

main {
    width: 100%;
    margin: 0 auto;
    /* background-color: white; */
}

p {
    font-size: 12px;
}

h2 {
    text-align: center;
    font-size: 24px;
    color: #222222;
    padding: 15px;
}

/* Contenido flex del header */

.main-header {
    position: sticky;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

.main-header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8px;
}

.logo {
    width: 25%;
}


.searchbar {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px;
    height: 2em;
    align-self: center;
}

.searchbar input {
    max-width: 150px;
    border: none; /* Elimina el borde */
    outline: none; /* Elimina el contorno al hacer foco */
    background: none; /* Elimina el fondo */
}

.button-bars {
    background-color: #5D534A;
    color: #F7DAD9;
    max-width: 50px;
    max-height: 45px;
    padding: 8px;
    border-radius: 8px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}

.main-navbar {
    display: none;
}

.main-navbar ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

.imagen-header {
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 230px;
}

/* Header hasta ac치 */
/* ------------------------------------------------------------------- */
/* Contenido flex del main vista home */
.precio {
    font-size: 18px;
    font-weight: bold;
    margin: 9px 5px;
    padding-left: 5px;
}

.descripcion {
    font-size: 16px;
    color: #222222;
    margin: 9px 5px;
    padding-left: 5px;
}

.imagen-producto {
    width: 100%;
}
/* main hasta ac치*/

.contenedor-descripcion {
    text-align: left;
    border-top: solid 1px #F7DAD9;
    background-color: white;
    /* display: none; */
    position: relative;
}

.contenedor-article {
    background-color: white;
    padding: 0px;
    margin: 15px auto;
    position: relative;
    max-width: 450px;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}

.contenedor-article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    -moz-transform: translate(0px,5px);
}

.logo-eco {
    margin: 15px;
    padding: 7px;
    font-size: 20px;
    color: #5D534A;
    border: solid 1px #5D534A;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -35px;
    background-color: white;
    transform: rotateZ(0deg);
    transition: transform 0.5s;
}

.contenedor-article:hover .logo-eco {
    transform: rotateZ(-90deg);
}

.contenedor-article h4 {
    background-color: rgba(0,0,0,0.5);
    color: #ebebeb;
    margin: 0 auto;
    padding: 10px;
    position: absolute;
    left: 0px;
    bottom: 40px;
    opacity: 0;
    text-align: center;
    transition: all 0.5s;
}

.contenedor-article:hover h4 {
    opacity: 1;
}

/* Contenido flex del footer */
footer {
    background-color: #D6D2C4;
}

footer i {
    font-size: 2em;
    margin-bottom: 10px;
    color: #5D534A;
}

/* .footer-bottom {
    padding-left: 15px;
} */

.contenedor-footer {
    text-align: center;
    margin: 0 auto;
}

.copyright {
    text-align: left;
    font-weight: 900;
    color: #5D534A;
    margin-left: 20px;
}

    /* Contenido de listas para el footer */
.listas {
    list-style: none;
    width: 100%;
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 80px;
    padding: 10px 0px;
}

.listas-atributo li a {
    text-decoration: none;
    color: #5D534A;
    font-weight: 900;
    transition: all 300ms ease;
}

.listas-atributo li a:hover {
    color: #222222;
}

.lista-end a i {
    color: #5D534A;
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    width: 40px;
    height: 40px;
    line-height: 45px;
    margin-right: 10px;
    background-color: #F7DAD9;
    text-align: center;
    transition: all 300ms ease;
}

.lista-end i:hover {
    color: #222222;
}
    /* listas hasta ac치 */
/* Footer hasta ac치 */

.contenedor-producto {
    width: 100%;
}