@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #FFF5DA;
    border: solid 5px #F7DAD9;
}

header {
    background-color: #D6D2C4;
}

/* Contenido flex del header */

.main-header {
    padding: 20px;
    position: sticky;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

.logo {
    width: 25%;
}


.searchbar {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px;
    height: 2em;
    align-self: center;
}

/* Header hasta acá */