@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #FFF5DA;
    
}

header {
    background-color: #D6D2C4;
}

main {
    width: 100%;
    margin: 0 auto;
    /* background-color: white; */
}

.enlace {

    text-align: center;

    background-color: #6e9b83;

}

.logo {
    display: inline-block;
    width: 150px;

    cursor: default;

}

.formulario-login {
    display: flex;
    background-color: #6e9b83;
    text-align: center;
    border-radius: 15px;
    width: 80vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    margin-left: 23px;
    padding-top: 24px;


}

.formulario-box-login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5px;

}

.forget-login {
    text-decoration: none;
    color: black;
    transition: all 300ms ease;
}

.forget-login:hover {
    color: #ffffff;
}

.formulario-button-login {
    padding-top: 5px;
}

.footer-bottom {
    display: none;
}

.copyright{
   
    text-align: center;
    font-size: 15px;
}

/* Contenido flex del header */

.main-header-users {
    position: sticky;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

.main-header-bar-users {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px;
}   

.logo-users {
    width: 10.7rem;
    height: 3.5rem
}

.button-bars-users {
    background-color: #5D534A;
    color: #F7DAD9;
    padding: 8px;
    border-radius: 5px;
    font-weight: 600;
    margin-left: 20px;

}

@media (min-width:769px) {
    body{width: 1480px;}
    .enlace {
        width: 1480px;
        text-align: center;
    }

    .logo {
        width: 140px;

        cursor: default;

    }

    .formulario-completo-login {
        display: flex;
        margin: -8px;
        padding: 0px;
        width: 1480px;
        height: 487px;
        background-image: url('../images/ropalogin.jpeg');
    }

    .formulario-login {
        padding-top: 158px;
        width: 460px;
        margin-left: 800px;
        height: 480px;
    }

    footer{
        background-color: #D6D2C4;
    }
    .footer-bottom {
        text-decoration: none;
        background-color: #5D534A;
        display: inline;
        width: 1480px;
        height: 600px;
    }

    .listas {
        list-style: none;

        width: 100%;
        max-width: 1400px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 80px;
        padding: 10px 0px;
    }
    .listas-atributo i{
        color: #5D534A;
    }
    .listas-atributo li a {
        text-decoration: none;
        color: #5D534A;
        transition: all 300ms ease;
    }

    .listas-atributo li a:hover {
        color: #ffffff;

    }
    .lista-end a i {
        color: #5D534A;
        display: inline-block;
        text-decoration: none;
        font-size: 25px;
        line-height: 45px;
        margin-right: 10px;
        text-align: center;
        transition: all 300ms ease;
    }
    
    .lista-end i:hover {
        color: #ffffff;
    }
    h5 {
        font-size: 18px;
        font-weight: bold;
    }
    .copyright {
        width: 1480px;
        text-align: center;
        font-size: 15px;
    }


}