@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* { 
	box-sizing: border-box;
}

body {
	background-color: #FFF9C4;
	color: #964B00;
	font-family: 'roboto','sans-serif';
	padding: 0px;
	margin: 0px;
}

.main-header {
	background-color: #006633;
	color: #FFF9C4;
	font-size: 18px;
	padding: 2px;
	text-align: center;
}

.signin-button{
	border-radius: 5%;
	display: block;
	background-color: #006633;
	color:#FFF9C4;
	padding: 15px 0px;
	margin: 20px auto;
	font-size: 18px;
	max-width: 100px;
	text-align: center;
}

.main-form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 20px ;
}

form input {
	padding: 3px;
	border: 1px solid #006633;
	border-radius: 10px;
	margin-top: 10px;
	font-weight: 200;
}

@media (max-width: 768px) {

.campo-formulario {
	background-color: #FFFFFF;
	font-weight: bold;
	font-size: 16px;
	max-width: 75%;
	margin: 10px 0px;
}

}

/* Estilos para dispositivos de escritorio */
@media screen and (min-width: 1200px) {

	form input {
		margin-bottom: 10px;
		padding: 5px;
		border-radius: 5px;
	}

	/* .campo-formulario {
		background-color: #FFFFFF;
		font-weight: bold;
		font-size: 16px;
		max-width: 300px;
		margin: 10px 0px;
	} */

	.main-form .campo-formulario{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-top: 20px;
		max-width: 300px;
	}

}
