<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Edit user</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

	<header class="main-header">
        <%- include('../partials/header-users') %>
    </header>

	<main class="main-signin">
	<div class="container-signin">
		<form action="/user/<%= user.id %>/changepassword?_method=PUT" method="POST" class="form-signin">
			<div class="fullname-signin">
				<label>Contraseña:</label>
  				<input type="password" name="password" class="control-signin">
                  <% if (locals.errors) { %>
					<% errors.forEach(el => { %>
						<p class="msg-error-signin"><%= el.path == 'password' ? el.msg : '' %></p>
						<% }) %>
				<% } %>
			</div>
			<div class="account-signin">
				<input type="submit" value="Editar" class="button-signin">
			</div>

		</form>
	</div>
	</main>

	<footer>
	<%- include('../partials/footer.ejs') %>
    </footer>
</body>
</html>