<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Ingresa</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

	<header class="main-header">
        <%- include('../partials/header-users') %>
    </header>

    <main class="main-login">
        <div class="container-login">
            <form action="/#" method="post" class="form-login">
                <div class="email-login">
                    <label>Email:</label>
                    <input type="mail" name="email-login" class="control-login">
                </div>
                <div class="password-login">
                    <label>Contraseña:</label>
                    <input type="password" name="password-login" class="control-login">
                </div>
                <br>
                <br>
                <div class="account-login">
                    <input type="checkbox" value="Ingresar" class="button-login">
                    <label for="">Recuerdame</label>
                </div>
                <br>
                <div class="account-login">
                    <p> ¿No tienes una cuenta aún? <a href="/signin">Entra aqui!</a> </p>
                    <br>
                    <input type="button" value="Ingresar" class="button-login">
                </div>
                
    
            </form>
        </div>
    </main>

	<footer>
	<%- include('../partials/footer.ejs') %>
    </footer>
</body>
</html>