<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/login.css">
    <title>Login-RevivalClothes</title>
</head>

<body>
    <header class="main-header">
        <%- include('../partials/header') %>
    </header>
    <section class="formulario-completo">
        <div class="formulario">
            <form action="/views/home.html" method="post">
                <h2 class="sesion">Inicia Sesión</h2>
                <div class="formulario-box">
                    <label for="usuario">Usuario:</label>
                    <input type="text" placeholder="Correo electronico*" name="Usuario">
                </div>
                <div class="formulario-box">
                    <label for="password">Ingresá tu clave :</label>
                    <input type="password" placeholder="Contraseña" name="password">
                </div>

                <div><label for="">Mantener la sesión abierta</label> <input type="checkbox"></div>

                <a href="#" class="forget">¿No recordás tu clave?</a>
                <div class="formulario-button"></div>
                <button type="submit">Enviar</button>
                <button type="reset">Borrar</button>
        </div>
       
    </section>
    <footer>
        <nav class="footer-bottom">
            <ul class="listas">

                <div class="listas-atributo">
                    <h5>PRODUCTOS</h5>
                    <li><a href="#">Remeras / Chombas</a></li>
                    <li><a href="#">Buzos / Camperas</a></li>
                    <li><a href="#">Pantalones</a></li>
                    <li><a href="#">Short</a></li>
                    <li><a href="#">Vestidos</a></li>
                    <li><a href="#">Accesorios</a></li>
                </div>

                <div class="listas-atributo">
                    <h5>ASISTENCIA</h5>
                    <li><a href="#">Pagos</a></li>
                    <li><a href="#">Envios</a></li>
                    <li><a href="#">Devoluciones</a></li>
                    <li><a href="#">Dudas Frecuentes</a></li>
                </div>
                <div class="listas-atributo">
                    <h5>NOSOTROS</h5>
                    <li><a href="#">Acerca de Revival Clothing</a></li>
                    <li><a href="#">Nuestra Tienda</a></li>
                </div>

                <div class="lista-end">
                    <h5>SEGUINOS</h5>
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
                </div>
            </ul>
        </nav>
           <div class="copyright"> <h6>Copyright © 2023 Revival Clothing S.R.L.</h6></div>


        

    </footer>

</body>

</html>