<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <title>about us</title>
        <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="main-header">
        <%- include('../partials/header', {user: locals.user ? user : {}}) %>
    </header>

    <main>
        este es el main donde trabajan
    </main>

    <%- include('../partials/footer.ejs') %>

        <script src="/js/cartHeader.js"></script>
</body>

</html>