<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: #9b9b9b;">
    <div style="text-align: center;">
        <h1>This is you tring to enter here LMAOO</h1>
        <img src="/images/hacker.jpg" alt="" style="width: 700px;">
    </div>
</body>
</html>