<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>REVIVAL CLOTHING</title>
    <link rel="stylesheet" href="./css/home.css">
</head>

<body>
    <header class="main-header">
        <%- include('../partials/header') %>
    </header>
    <img src="images/conjunto5.jpg" alt="home-baner" class="imagen-header">

    <main>
        <h2 class="subtitulos-home">Marcas</h2>
        <section class="contenedor-section">
            <article class="contenedor-article">
                <img src="images/clothe2.jpg" class="imagen-producto">
                <div class="contenedor-descripcion">
                    <p class="logo-eco"><img src="images/hanger-line.png"></i></p> <!-- animacion con logo de envio -->
                    <p class="precio">$230.500</p>
                    <h4 class="descripcion">Ropifly</h4>
                </div>
            </article>
            
            <article class="contenedor-article">
                <img src="images/clothe1.jpg" class="imagen-producto">
                <div class="contenedor-descripcion">
                    <p class="logo-eco"><img src="images/hanger-line.png"></i></p> <!-- animacion con logo de envio --> 
                    <p class="precio">$320.000</p>
                    <h4 class="descripcion">Tugancho</h4>
                </div>
            </article>
        </section>
        
        <h2 class="subtitulos-home">Destacados</h2>
        <section class="contenedor-section">
            <article class="contenedor-article">
                <img src="images/clothe3.jpg" class="imagen-producto">
                <div class="contenedor-descripcion">
                    <p class="logo-eco"><img src="images/hanger-line.png"></i></p>
                    <p class="precio">$230.500</p>
                    <h4 class="descripcion">Ropifly</h4>
                </div>
            </article>
            
            <article class="contenedor-article">
                <img src="images/clothe4.jpg" class="imagen-producto">
                <div class="contenedor-descripcion">
                    <p class="logo-eco"><img src="images/hanger-line.png"></i></p> 
                    <p class="precio">$320.000</p>
                    <h4 class="descripcion">Tugancho</h4>
                </div>
            </article>
        </section>

        <h2 class="subtitulos-home">Nuevos lanzamientos (HACERLO EN UN CARRUSEL)</h2>  
        <section class="contenedor-section">
            <article class="contenedor-article">
                <img src="images/conjunto1.jpg" class="imagen-producto">
                <div class="contenedor-descripcion">
                    <h4 class="descripcion">Ropifly</h4>
                </div>
            </article>
            
            <article class="contenedor-article">
                <img src="images/conjunto2.jpg" class="imagen-producto">
                <div class="contenedor-descripcion">
                    <h4 class="descripcion">Tugancho</h4>
                </div>
            </article>
        </section>


    </main>

    <footer class="contenedor-footer">
        <nav class="footer-bottom">
            <ul class="listas">

                <div class="listas-atributo">
                    <i class="fa-solid fa-shirt"></i>
                    <h5>PRODUCTOS</h5>
                    <li><a href="#">Remeras / Chombas</a></li>
                    <li><a href="#">Buzos / Camperas</a></li>
                    <li><a href="#">Pantalones</a></li>
                    <li><a href="#">Short</a></li>
                    <li><a href="#">Vestidos</a></li>
                    <li><a href="#">Accesorios</a></li>
                </div>

                <div class="listas-atributo">
                    <i class="fa-solid fa-credit-card"></i>
                    <h5>ASISTENCIA</h5>
                    <li><a href="#">Pagos</a></li>
                    <li><a href="#">Envios</a></li>
                    <li><a href="#">Devoluciones</a></li>
                    <li><a href="#">Dudas Frecuentes</a></li>
                </div>
                <div class="listas-atributo">
                    <i class="fa-solid fa-users"></i>
                    <h5>NOSOTROS</h5>
                    <li><a href="#">Acerca de Revival Clothing</a></li>
                    <li><a href="#">Nuestra Tienda</a></li>
                </div>

                <div class="lista-end">
                    <i class="fa-solid fa-hashtag"></i>
                    <h5>SEGUINOS</h5>
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
                </div>
            </ul>
        </nav>
        <article>
            <p class="copyright">Copyright © 2021 - 2023 Revival Clothes R.C.S.A</p>
        </article>
    </footer>
</body>

</html>