<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>REVIVAL CLOTHING</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <header class="main-header">
        <%- include('../partials/header') %>
    </header>
    <!-- <img src="images/conjunto5.jpg" alt="home-baner" class="imagen-header"> -->
    <img src="images/banner_pro.svg" alt="home-baner" class="imagen-header">

    <main>
        <h2 class="subtitulos-home">Marcas</h2>
        <section class="contenedor-section">
            <article class="contenedor-article">
                <img src="images/clothe2.jpg" class="imagen-producto">
                <div class="contenedor-descripcion">
                    <p class="logo-eco"><img src="images/hanger-line.png"></p> <!-- animacion con logo de envio -->
                    <p class="precio">$230.500</p>
                    <h4 class="descripcion">Ropifly</h4>
                </div>
            </article>

            <article class="contenedor-article">
                <img src="images/clothe1.jpg" class="imagen-producto">
                <div class="contenedor-descripcion">
                    <p class="logo-eco"><img src="images/hanger-line.png"></p> <!-- animacion con logo de envio -->
                    <p class="precio">$320.000</p>
                    <h4 class="descripcion">Tugancho</h4>
                </div>
            </article>

            <article class="contenedor-article">
                <img src="images/clothe3.jpg" class="imagen-producto">
                <div class="contenedor-descripcion">
                    <p class="logo-eco"><img src="images/hanger-line.png"></p> <!-- animacion con logo de envio -->
                    <p class="precio">220.000</p>
                    <h4 class="descripcion">Pantaloneta</h4>
                </div>
            </article>

            <article class="contenedor-article">
                <img src="images/clothe6.jpg" class="imagen-producto">
                <div class="contenedor-descripcion">
                    <p class="logo-eco"><img src="images/hanger-line.png"></p> <!-- animacion con logo de envio -->
                    <p class="precio">420.000</p>
                    <h4 class="descripcion">Chaquetica</h4>
                </div>
            </article>
        </section>

        <h2 class="subtitulos-home">Destacados</h2>
        <section class="contenedor-section">
            <article class="contenedor-article">
                <img src="images/clothe3.jpg" class="imagen-producto">
                <div class="contenedor-descripcion">
                    <p class="logo-eco"><img src="images/hanger-line.png"></p>
                    <p class="precio">$230.500</p>
                    <h4 class="descripcion">Ropifly</h4>
                </div>
            </article>

            <article class="contenedor-article">
                <img src="images/clothe4.jpg" class="imagen-producto">
                <div class="contenedor-descripcion">
                    <p class="logo-eco"><img src="images/hanger-line.png"></p>
                    <p class="precio">$320.000</p>
                    <h4 class="descripcion">Tugancho</h4>
                </div>
            </article>

            <article class="contenedor-article">
                <img src="images/clothe6.jpg" class="imagen-producto">
                <div class="contenedor-descripcion">
                    <p class="logo-eco"><img src="images/hanger-line.png"></p>
                    <p class="precio">$520.000</p>
                    <h4 class="descripcion">Pantalon</h4>
                </div>
            </article>

            <article class="contenedor-article">
                <img src="images/clothe8.jpg" class="imagen-producto">
                <div class="contenedor-descripcion">
                    <p class="logo-eco"><img src="images/hanger-line.png"></p>
                    <p class="precio">$620.000</p>
                    <h4 class="descripcion">Chaqueta</h4>
                </div>
            </article>
        </section>

        <h2 class="subtitulos-home">Nuevos lanzamientos</h2>
        <section class="contenedor-section">
            <article class="contenedor-article">
                <img src="images/conjunto1.jpg" class="imagen-producto">
                <div class="contenedor-descripcion">
                    <p class="simbolo-ropa-home"><i class="fa-solid fa-shirt"></i></p>
                    <p class="simbolo-ropa-home"><i class="fa-solid fa-vest"></i></p>
                    <h3>Conjunto mujer</h3>
                    <h3>Nueva coleccion de invierno</h3>
                </div>
            </article>

            <article class="contenedor-article">
                <img src="images/conjunto2.jpg" class="imagen-producto">
                <div class="contenedor-descripcion">
                    <p class="simbolo-ropa-home"><i class="fa-solid fa-shirt"></i></p>
                    <p class="simbolo-ropa-home"><i class="fa-solid fa-vest"></i></p>
                    <h3>Conjunto mujer</h3>
                    <h3>Nueva coleccion de otoño</h3>
                </div>
            </article>
        </section>


    </main>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>

</html>