<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <title>REVIVAL CLOTHING</title>
        <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="main-header">
        <%- include('../partials/header', {user: locals.user ? user : {}}) %>
    </header>

    <main>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="images/newBanner2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="images/newBanner3.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>

        <div class="texto-home">
            <h2>The <span id="italic-home">future </span>is in your <br><span>closet</span> you just <span>have
                    <br></span>to look twice</h2>
            <br><br>

            <h3>vende tu ropa con nosotros y se parte del cambio</h3>
        </div>

        <section class="contenedor-interaccion-home">
            <article class="article-interaccion-home">
                <img src="images/modelo.jpg" alt="">
                <a href="/products/create">VENDER</a>
            </article>

            <article class="article-interaccion-home">
                <img src="images/modelo2.jpg" alt="">
                <a href="/products/productlist">COMPRAR</a>
            </article>
        </section>

        <h2 class="titulo-home">¡Lo más popular del momento!</h2>
        <section class="contenedor-recomendados-home">
            <article class="article-recomendados-home">
                <a href="/products/3/detalle"><img src="images/fotosProducto/clothe3.jpg" alt="">
                    <p>Vista rápida</p>
                </a>
            </article>

            <article class="article-recomendados-home">
                <a href="/products/1/detalle"><img src="images/fotosProducto/clothe1.jpg" alt="">
                    <p>Vista rápida</p>
                </a>
            </article>

            <article class="article-recomendados-home">
                <a href="/products/2/detalle"><img src="images/fotosProducto/clothe2.jpg" alt="">
                    <p>Vista rápida</p>
                </a>
            </article>
        </section>
        
        <section class="contenedor-servicios-home">
            <article class="article-servicios-home">
                <i class="fa-solid fa-tags fa-rotate-270"></i>
                <h3>NOVEDADES DIARIAS</h3>
                <p>¡Todas las mañanas publicamos más de 100 prendas ÚNICAS! Ropa barata, zapatos, bolsos, accesorios con
                    descuentos hasta el 85%.</p>
            </article>

            <article class="article-servicios-home">
                <i class="fa-solid fa-truck-fast"></i>
                <h3>ENTREGA RÁPIDA</h3>
                <p>¡En 1-2 días tendrás tu pedido en casa o en el punto que solicites. ¡No te haremos esperar para
                    estrenarlo!</p>
            </article>

            <article class="article-servicios-home">
                <i class="fa-solid fa-piggy-bank"></i>
                <h3>DEVOLUCIONES GRATUITAS</h3>
                <p>Si no te convence tu compra tendrás un plazo de 15 días para devolverlo de forma sencilla y GRATIS.
                    ¡Queremos que te guste y que lo uses mucho!</p>
            </article>
        </section>

        <div class="contenedor-baner-ropa">
            <span class="texto-imagen">VENDE TU ROPA</span>
            <img src="images/newBanner.jpg" alt="home-baner" class="imagen-header">
        </div>


    </main>

    <%- include('../partials/footer.ejs') %>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
</body>

</html>