<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="main-header">
        <%- include('../partials/header-users', {user: locals.user ? user : {}}) %>
    </header>
    <main>
        <div class="secciones-carrito">
            <div class="shopping-bag-list-carrito">
                <h1>Mi Carrito</h1>
                <div class="contenedor-articulo-carrito">
                    <div class="contenedor-articulo-carrito-top">
                        <div class="imagen-producto-carrito">
                            <img src="/images/clothe1.jpg" alt="" class="imagen-producto-carrito">
                        </div>
                        <div class="descripcion-producto-carrito">
                            <h4>Género</h4>
                            <h3 class=""titulo-producto-carrito>Titulo producto</h3>
                            <p class="talle-carrito">Talle</p>
                            <p class="contador-cantidad-carrito">Cantidad</p>
                            <p class="precio-prodcuto-carrito">Precio</p>
                        </div>
                    </div>

                    <div class="contenedor-articulo-carrito-bottom">
                        <div class="botones-carrito">
                            <button class="btn-edit">Edit</button>
                        </div>
                        <div class="botones-carrito">
                            <button class="btn-remove">Remove</button>
                        </div>
                    </div>
                </div>

                <div class="contenedor-articulo-carrito">
                    <div 
                    class="contenedor-articulo-carrito-top">
                        <div class="imagen-producto-carrito">
                            <img src="/images/clothe2.jpg" alt="" class="imagen-producto-carrito">
                        </div>
                        <div class="descripcion-producto-carrito">
                            <h4>Género</h4>
                            <h3 class=""titulo-producto-carrito>Titulo producto</h3>
                            <p class="talle-carrito">Talle</p>
                            <p class="contador-cantidad-carrito">Cantidad</p>
                            <p class="precio-prodcuto-carrito">Precio</p>
                        </div>
                    </div>

                    <div class="contenedor-articulo-carrito-bottom">
                        <div class="botones-carrito">
                            <button class="btn-edit">Edit</button>
                        </div>
                        <div class="botones-carrito">
                            <button class="btn-remove">Remove</button>
                        </div>
                    </div>
                </div>
                <div class="contenedor-articulo-carrito">
                    <div 
                    class="contenedor-articulo-carrito-top">
                        <div class="imagen-producto-carrito">
                            <img src="/images/clothe3.jpg" alt="" class="imagen-producto-carrito">
                        </div>
                        <div class="descripcion-producto-carrito">
                            <h4>Género</h4>
                            <h3 class=""titulo-producto-carrito>Titulo producto</h3>
                            <p class="talle-carrito">Talle</p>
                            <p class="contador-cantidad-carrito">Cantidad</p>
                            <p class="precio-prodcuto-carrito">Precio</p>
                        </div>
                    </div>

                    <div class="contenedor-articulo-carrito-bottom">
                        <div class="botones-carrito">
                            <button class="btn-edit">Edit</button>
                        </div>
                        <div class="botones-carrito">
                            <button class="btn-remove">Remove</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="seccion-comprar">
                <div class="boton-comprar">
                    <button class="btn-comprar">Comprar</button>
                </div>
                <div class="div-separador-texto-atrapador">
                    <hr class="separador-texto-atrapador">
                </div>
                <div class="counter-dinero-carrito">
                    <h3 class="total-carrito">
                        Total
                    </h3>
                    <h3 class="precio-total-carrito">
                        $110.000
                    </h3>
                </div>
                <div class="texto-atrapador">
                    <h4 class="no-te-lo-pierdas">
                        <i class="fa-thin fa-clock"></i>
                        No dejes pasar esta oportunidad!
                    </h4>
                    <p class="no-te-lo-pierdas-text">
                        Los items en tu carrito pueden dejar de estar disponibles! 
                    </p>
                </div>
                <div class="div-separador-texto-atrapador">
                    <hr class="separador-texto-atrapador">
                </div>
                <div class="codigo-promocion">
                    <input type="text" name="codigo-promocion" id="codigo-promocion" placeholder="Codigo de promocion">
                    <input type="button" value="Aplicar" class="btn-codigo-promocion">
                </div>
                <div class="info-envio">
                    <i class="fa-thin fa-truck-fast"></i>
                    <a href="" class="link-info-envio">Informacion importante para el envio</a>
                    <h2 class="info-envio-texto-ayuda">Necesitas ayuda?</h2>
                    <i class="fa-thin fa-phone"> Customer Service </i>
                    <p class="info-envio-telefonos">+1-925-359-2579 or +1-925-359-2579</p>
                </div>
            </div>
        </div>    
    </main>
    <%- include('../partials/footer.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>