<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>DETALLE</title>
    <link rel="stylesheet" href="./css/detalle.css">
</head>
<body>
    <header class="main-header">
        <%- include('../partials/header-users') %>
    </header>
    <main>
        <div class="secciones-detalle">
            <div class="shopping-bag-list-detalle">
                <h1>Detalle publicacion</h1>
                <div class="contenedor-articulo-detalle">
                    <div class="contenedor-articulo-detalle-top">
                        <div class="imagen-detalle">
                            <img src="/images/clothe1.jpg" alt="" class="imagen-detalle">
                        </div>
                        <div class="descripcion-detalle">
                            <p class="precio-detalle-carrito">Precio:</p>
                            <p class="talle-detalle">Talle:</p>
                            <p class="cantidad-detalle">Cantidad:</p>
                            <p class="descrip-detalle">Descripcion general:</p>
                        </div>
                    </div>

                    <div class="detalle-agregar">
                        <div class="botones-detalle">
                            <button class="btn-add-detalle">Agregar al carrito</button>
                        </div>
                    </div>
            </div>
        </div>    
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>
